body {
  font-size: 15px;
}

#navbar {
  background-color: #344475;
  color: white;
}

.jose {
  float: left;
  padding-top: 20px;
}

.photos {
  float: block;
}

.top-paragraph {
  padding-top: 20px;
  padding-bottom: 10px;
}

.middle-paragraph {
  padding-bottom: 10px;
}

.bottom {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  background-color: lightgray;
}

