body {
  font-size: 17px;
  color: #344475;
  border: 1px solid;
  font-family: 'Varela Round', sans-serif;;
}



#navmenu {
  background-color: #344475;
  color: white;
}

#nav-items {
  color: white;
  justify-content: right;
}

#jcm {
  color: white;
  font-size: 30px;
  font-style: italic;
}

.my-portfolio {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  justify-content: center;
}

#portfolio-top {
  padding-bottom: 50px;
}

#link-text {
  color: white;
  font-size: 17px;
  padding-right:30px;
}

.photos {
  justify-content: center;
  padding-left: 20px;
  padding-top: 20px;

}

.top-paragraph {
  padding-top: 20px;
  padding-bottom: 10px;
}

.middle-paragraph {
  padding-bottom: 10px;
}

.bottom-paragraph {
  padding-bottom: 10px;
}

.bottom {
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  background-color: lightgray;
}

.contact {
  text-align: center;
}

.title {
  padding-top: 20px;
}
.title{
  text-align: center;
  text-decoration: underline;
}

.work {
  text-align: center;
}

#portfolio-btn {
  background-color: #344475;  
}

a {
  color: white;
}

.bottom{
  justify-content: center;    
  margin-top: 40px;
  background-color: #abb1c3;
  /* background-color: #9ca3bd; */
  border-top-style: solid;
  border-color:#4c5b8e;  
  border-bottom-style: solid;    
}

#footer {
  font-size: 15px;  
}

